* {
    margin: 0%;
    padding: 0;
}

#formulario{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2%;
    text-align: right;
    font-size: small;
}

label, input{
    margin-top: 0.5%;
}

#botaoVoltar{
    margin-left: 1%;
    margin-top: 0.5%;
}